:root{
    --mainColor: yellow;
    --btnColor: #2B1651;
    --btnColorHover:#5b4ef3;
    --cardShadow:  rgb(169, 167, 167);
    --borderColorCard:black;
    --evaluation: rgb(255, 191, 0);
    --btnBuy: rgb(238, 0, 255);
    --btnColorOne: #7a449e;
    --btnColorHoverOne:#c27fef;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






main .content-search{
    position: fixed;
    top: 120px;
    left: 130px;
    width: 90%;
    background-color: #5b4ef3;
    z-index: 1000;
    height: 100px;
    border: none;
    box-shadow: 5px 20px 80px var(--shadow);
    transition: 10s;
    border-radius: 200px;
    overflow: hidden;
    display: none;

}


main .content-search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 50px;
    padding: 30px;
}

main .content-search button{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    font-size: 50px;
    background-color: #fff;
    border: none;
    color: var(--btnColorHover);
    border-radius: 200px;
    padding: 0 100px;

}


main .content-search button:hover{
    background-color: var(--btnColorHover);
    color: #fff;

}


main .title-page{
    font-size: 2rem;
    margin: 40px 0;
    color: var(--btnColor);
    
}


main hr{
    
    margin-bottom: 10px;
}


.container{
    padding: 0 100px;
}


main .content-shopping{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.card{
    width: 400px;
    height: 500px;
    border: 5px solid var(--btnColor);
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    
}

.card:hover{
    box-shadow: 2px 0px 5px 7px var(--cardShadow);
    padding: 10px;
}


.card .image{
    position: relative;
    
}


.card .image img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}




.card .image .more-details{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.374);
    transition:  0.5s;
    
}


.card .image .more-details .btn-description{
    color: #fff;
}


.card .image .more-details .btn-description:hover{
    color: var(--btnColorHover);
}



.card .card-body{
    padding: 0 10px;

}


.card .card-body h2, h3,h4{
    margin-bottom: 10px;

}



.card .card-body .price-and-evaluation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}


.card .card-body .price-and-evaluation .evaluation{
    color: var(--evaluation);

}


.card .card-body .btn-add-to-cart{
    width: 101%;
    padding: 20px;
    color: #fff;
    background-color: var(--btnColor);
    font-size: 1.3rem;
    font-weight: bold;
    transition:  0.9s;
    position: absolute;
    bottom: 0;
    left: -2px;
}


.card .card-body .btn-add-to-cart i{
    margin-left: 5px;
}


.card .card-body .btn-add-to-cart:hover{
    background-color: var(--btnColorHover);

}



.card .image:hover .more-details{
    opacity: 1;

}


.foundSearch{
    display: none;
}


.filter{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 1000;
    background-color: var(--btnColor);
    color: #fff;
    border-radius: 30px 0;
    padding: 20px;
    gap: 40px;
    width: 70px;
    font-size: 25px;
    transition: 0.5s;
    align-items: center;
}


.filter:hover{
    width: 260px;
}





.filter h1{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 2.3rem;
    
}


.filter input{
    margin-bottom: 30px;
}


.modalDescription{
    position: fixed;
    z-index: 900;
    width: 60%;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: var(--btnColor);
    display: flex;
    padding: 60px;
    color: #fff;
    gap: 30px;
    box-shadow: 5px 20px 80px var(--shadow);
    border-radius: 30% 0 30% 0;
    display: none;
}


.modalDescription .btn-model:hover{
    background-color: var(--btnColorOne);
}


.modalDescription .details .btn-model:hover{
    background-color: var(--btnColorOne);
}

.modalDescription .image{
    width: 100%;
}

.modalDescription .image img{
    width: 70%;
    border-radius: 20px;
    border: 8px solid var(--btnColorHoverOne);
}



.modalDescription .details{
    width: 100%;
}


.modalDescription .details h1{
    margin-bottom: 20px;
} 


.modalDescription .details p{
    margin: 10px 0;
    line-height: 30px;
}



.modalDescription .details .price-and-evaluation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

}


.modalDescription .details .price-and-evaluation .evaluation{
    color: gold;
    font-size: 1.5rem;

}



.modalDescription .details .price-and-evaluation .price-modal span{
    color: var(--btnColorHoverOne);
    font-size: 1.5rem;

}

.modalDescription .details .btn-size{
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.modalDescription .details .btn-size button{
    padding: 10px;
    font-size: 17px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--btnColorHoverOne);
    border: none;
    color: #fff;
    font-weight: bold;
}



.modalDescription .btn-action-modal {
   display: flex;
   justify-content: end;
   gap: 10px;
   margin-top: 50px;

}


.modalDescription .btn-action-modal button{
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: var(--btnColorHoverOne);
    border: none;
    color: #fff;
    font-weight: bold;
}














@media(max-width: 1300px) {

    .content-shopping {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        
    }


    .card {
        width: 46%;
        height: 560px;
        border: 5px solid var(--btnColor);
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        margin: auto;
    }


    
.modalDescription{
    width: 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.modalDescription .details .btn-model:hover{
    background-color: var(--btnColorOne);
}


.modalDescription .details{
    width: 60%;
    font-size: 1.3rem;
}




.modalDescription .image{
    width: 60%;
}

.modalDescription .image img{
    width: 100%;
    border-radius: 20px;
    border: 8px solid var(--btnColorHoverOne);
}




.modalDescription .details{
    width: 100%;
}





.modalDescription .details .price-and-evaluation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}






.modalDescription .details .price-and-evaluation .price-modal span{
    color: var(--btnColorHoverOne);
    font-size: 1.5rem;

}

.modalDescription .details .btn-size{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
}

.modalDescription .details .btn-size button{
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--btnColorHoverOne);
    border: none;
    color: #fff;
    font-weight: bold;
}



.modalDescription .btn-action-modal {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 70px;

}


.modalDescription .btn-action-modal button{
    padding: 20px 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--btnColorHoverOne);
    border: none;
    color: #fff;
    font-weight: bold;
    width: 300px;
    height: 150px;
    
}





}





@media(max-width: 900px) {


    .card {
        width: 80%;
        height: 530px;
        border: 5px solid var(--btnColor);
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        margin: auto;
    }


    .modalDescription{
        width: 70%;
        height: 85%;
        top: 55%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    



    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    
    
    
    .modalDescription .details{
        width: 100%;
        font-size: 0.8rem;
        overflow: auto;

    }
    
    
    
    
    .modalDescription .image{
        width: 200px;
        
    }
    
    .modalDescription .image img{
        width: 100%;
        border-radius: 20px;
        border: 8px solid var(--btnColorHoverOne);
        
    }
    
    
    
    .modalDescription .details .price-and-evaluation{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    
    
    
    
    
    .modalDescription .details .price-and-evaluation .price-modal span{
        color: var(--btnColorHoverOne);
        font-size: 1.5rem;
    
    }
    
    .modalDescription .details .btn-size{
        display: flex;
        gap: 20px;
        margin: 20px 0;
        justify-content: center;
    }
    
    .modalDescription .details .btn-size button{
        padding: 20px;
        font-size: 20px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
    }
    
    
    
    .modalDescription .btn-action-modal {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 10px;
       margin-top: 70px;
    
    }
    
    
    .modalDescription .btn-action-modal button{
        padding: 5px 20px;
        font-size: 30px;
        border-radius: 20px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
        width: 200px;
        height: 100px;
        
    }
}





@media(max-width: 660px) {


    .card {
        width: 80%;
        height: 530px;
        border: 5px solid var(--btnColor);
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        margin: auto;
    }


    .modalDescription{
        width: 70%;
        height: 85%;
        top: 55%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    



    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    
    
    
    .modalDescription .details{
        width: 100%;
        font-size: 0.8rem;
        overflow: auto;

    }
    
    
    
    
    .modalDescription .image{
        width: 100px;
        
    }
    
    .modalDescription .image img{
        width: 100%;
        border-radius: 20px;
        border: 8px solid var(--btnColorHoverOne);
        
    }
    
    
    
    .modalDescription .details .price-and-evaluation{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    
    
    
    
    
    .modalDescription .details .price-and-evaluation .price-modal span{
        color: var(--btnColorHoverOne);
        font-size: 1.5rem;
    
    }
    
    .modalDescription .details .btn-size{
        display: flex;
        gap: 20px;
        margin: 20px 0;
        justify-content: center;
    }
    
    .modalDescription .details .btn-size button{
        padding: 20px;
        font-size: 20px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
    }
    
    
    
    .modalDescription .btn-action-modal {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 10px;
       margin-top: 70px;
    
    }
    
    
    .modalDescription .btn-action-modal button{
        padding: 5px 20px;
        font-size: 30px;
        border-radius: 20px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
        width: 200px;
        height: 100px;
        
    }
}





@media(max-width: 500px) {






    .modalDescription{
        width: 60%;
        height: 70%;
        top: 55%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    



    /* width */
::-webkit-scrollbar {
    width: 10px;
  }

    
    
    
    .modalDescription .details{
        width: 100%;
        font-size: 0.8rem;
        overflow: auto;

    }
    
    
    
    
    .modalDescription .image{
        width: 100px;
        
    }
    
    .modalDescription .image img{
        width: 100%;
        border-radius: 20px;
        border: 8px solid var(--btnColorHoverOne);
        
    }
    
    
    
    
    
    
    .modalDescription .details .price-and-evaluation{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    


    .modalDescription .details h1 {
        margin-bottom: 10px;
        font-size: 1rem;
    }
    
    
    
    
    .modalDescription .details .price-and-evaluation .price-modal span{
        color: var(--btnColorHoverOne);
        font-size: 1rem;
    
    }



    .modalDescription .details .price-and-evaluation .price-modal {
        margin: 5px 0;
    
    }
    
    .modalDescription .details .btn-size{
        display: flex;
        gap: 5px;
        margin: 20px 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .modalDescription .details .btn-size button{
        padding: 10px;
        font-size: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
    }
    
    
    
    .modalDescription .btn-action-modal {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 10px;
       margin-top: 70px;
    
    }
    
    
    .modalDescription .btn-action-modal button{
        padding: 10px 20px;
        font-size: 10px;
        border-radius: 20px;
        background-color: var(--btnColorHoverOne);
        border: none;
        color: #fff;
        font-weight: bold;
        width: 60px;
        height: 60px
    
        
    }



    .filter{
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        top: 40%;
        left: 0;
        z-index: 1000;
        background-color: var(--btnColor);
        color: #fff;
        border-radius: 30px 0;
        padding: 20px;
        gap: 40px;
        width: 70px;
        font-size: 15px;
        transition: 0.5s;
        align-items: center;
        height: 250px;
    }
    
    
    .filter:hover{
        width: 200px;
    }
    
    
    
    
    
    .filter h1{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 1.3rem;
        
    }
    
    
    .filter input{
        margin-bottom: 30px;
    }
    
}